@font-face {
    font-family: CrystalBetUni;
    src: url(../Fonts/CrystalBetUni-Regular.otf);

} 
@font-face {
    font-family: CrystalBetUniBold;
    src: url(../Fonts/CrystalBetUni-Bold_0.otf);

} 
@font-face {
    font-family: CrystalBetUniMedium;
    src: url(../Fonts/crystaluni-medium-webfont.woff2);

} 
body{
    
}
.main-div{
    height: 1024px;
    width: 576px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items:center ;
    background-color: #071831;
    height: 112px;
    width: 100%;
}
.user-info{
    display: flex;
    height: 100%;
    width: 465px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-left: 16px;
}
.user-info li{
    height: 80px;
    width: 150px;
    background-color: #040f1e;
    border-radius: 3px;
    text-align: center;
}
.description-user-game{
    display: block;
    font-size: 17.6px;
    font-family:"CrystalBetUni";
    color: white;
    margin-top: 15px;
    line-height: 30px;
}
.gel{
    font-size: 25.6px;
    font-family:"CrystalBetUniBold" ;
 
}
.white{
    color: #ffffff;
}
.yellow{
    color: #fde053;
}
.gel-radius{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fde053 ;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}
.menu{
    margin-left: 32px;
}
.menu > img{
    width: 34px;
    height: 26px;
}
.open-menu{
    width: 576px;
    height: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}
.menu-left-side{
    width: 224px;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.menu-right-side{
    width: 352px;
    height: 100%;
    position: absolute;
    right: 0;
    background: -moz-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background: -webkit-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background: -ms-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
}
.menu-header{
    width: 100%;
    height: 112px;
    background-color: #071831;
}
.spin-id{
    position: absolute;
    top: 33px;
    left: 25px;
    font-family:CrystalBetUniBold;
    color: #546988;
    font-size: 22.4px;
}
.spin-id>p{
    color: #9ea6b1;
    padding-top: 7px;
}
.menu-center{
    position: relative;
}
.menu-center>ul{

    position: absolute;
    left: 32px;

}
.menu-center>ul>li{
    font-size: 22.4px;
    color: #9ea6b1;
    font-family:CrystalBetUniMedium ;
    border-bottom: 2px dashed #506a8f;
    width: 287px;
    height: 65px;
    line-height: 65px;
}

.menu-center>ul>li>span{
    position: absolute;
    left: 58px;
    color: white;
    line-height: 71px;
}
.menu-center>ul :first-child{
    padding: 15px 0 ;
}
.menu-footer{
    position: absolute;
    bottom: 33px;
    left: 33px;
}
.menu-footer>span{
    position: absolute;
    color: #8298b9;
    font-size: 22.4px;
    left:60px;
    bottom: 3px;
}
.history{
    width: 100%;
    height: 1024px;
    position:absolute;
    top: 0;
}
.menu-history-header{
    width: 100%;
    height: 112px;
    background-color: #071831;
    text-align: center;
    position: relative;
}
.menu-history-header>span{
    color: white;
    font-family:CrystalBetUniMedium;
    font-size: 25.6px;
    width: 145px; 
    height: 74px;
}
.menu-history-header>span.active{
    color: #bfae4b;
    border-bottom: 10px solid #bfae4b ;
    
}
.menu-history-center{
    width: 576px;
    height: 912px;
    background-color: #0b274f;
    position: relative;
    background-image: -moz-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -webkit-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -ms-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);

}

  
.last-houndreed-numbers-container{
    display: grid;
    width: 523px;
    height: 830px;
    grid-template-columns: 66px 66px 66px 66px 66px;
    grid-template-rows: 69px 69px 69px 69px 69px 69px 69px 69px 69px 69px;
    grid-gap: 20px;
    position: absolute;
    left: 31px;
    top: 33px;
    background-size: contain;
    overflow: hidden;
    overflow-y: scroll;
    /* scrollbar-width: 10px; */
    
}
.user-game-history{
    width: 550px;
    height: 830px;
    position: absolute;
    left: 0;
    top: 33px;
    overflow-y: scroll;
    background-size: contain;
    overflow-x: hidden
} 
.user-game-history-description{
    display: flex;
    width: 385px;
    justify-content: space-between;
    margin-left: 32px;
}
.user-game-history-description>span{
    font-size: 19.2px;
    font-family: CrystalBetUniMedium;
    color: rgb(143, 181, 150);
}
.user-bet-history{
    margin-top: 25px;

}

.user-bet-history>li{
    width: 500px;
    height: 80px;
    background-color: black;
    opacity: 0.302;
    margin-top: 2px;
    margin-left:15px;
}

.user-bet-history>li>span{
   color:rgb(255, 255, 255);
   font-size: 19.2px;
   font-family: CrystalBetUniMedium;
   text-align: center;
   line-height: 27px;
    margin-left: 5px;
}
.user-bet-history>li :first-child{
    margin-left: 18px;
}
.user-bet-history>li>span.play-time{
    display: inline-block;
    width: 135px;
}

.user-bet-history>li>span.won-money{
    margin-left: 20px;
}
.user-bet-history>li>img.hidden-eye-logo{
    margin-left: 20px;
    margin-top: -5px;
    border-radius: 3px;
    background-color: black;
    border: 1px solid white;
    
}
  
.last-houndreed-numbers-container::-webkit-scrollbar,
.user-game-history::-webkit-scrollbar,
.favorites-content::-webkit-scrollbar{
    width: 20px;
}
.last-houndreed-numbers-container::-webkit-scrollbar-track,
.user-game-history::-webkit-scrollbar-track,
.favorites-content::-webkit-scrollbar-track {
    border-radius: 3px;
    height: 10px;
    
    background-color: #051429;
  }
  .last-houndreed-numbers-container::-webkit-scrollbar-thumb,
  .user-game-history::-webkit-scrollbar-thumb,
  .favorites-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #21477c;
    height: 10px;
  } 
.last-houndreed-numbers-container>li{
    list-style: none;
    text-align: center;
    line-height: 69px;
    font-size: 25.4px;
    color: white;
    font-family:CrystalBetUniMedium;
    border-radius: 3px;
    

}
.close-tab{
    position: absolute;
    right: 34px;
    top: 42px;
    cursor: pointer;
}
.sound{
    position: absolute;
    right: 112px;
    top: 42px;
}
.loader-space{
    width: 100%;
    height: 10px;
    display: flex;
    background-color:#010a17;
    justify-content: center;
}
.loader{  
    background-color: #37ba50;
    width: 368px;
    height: 100%;
}
.main{
    background-color: rgb(16, 60, 112);
    height:902px;
    width: 100%;
    position: relative;
}

.table{
    position: absolute;
    width: 100%;
    height: 783px;
    top: 16px;
}
.table-left-side{
    position: absolute;
    height: 670px;
    width: 21.7%;
    top: 55px;
    left: 35px;
    
}
.grid-container-left-side{
    display: grid;
    grid-template-columns: 67px 67px;
    grid-template-rows: 112.3px 112.3px 112.3px 112.3px 112.3px 112.3px ;
    background-color: #1f4b86; 
}
.grid-container-left-side div{
   border: 1px solid #b0c0d5;
}
.line-height-two-row{
    line-height: 224.6px;
}
.line-height-one-row{
    line-height: 112.3px;
}
.other-bets{
    transform: rotate(90deg);
    display: block;
    text-align: center;
    font-size: 25.6px;
    color: #ffffff;
    font-family: "CrystalBetUni";
}
.other-bets>.row{
    font-size: 19px;
}
.bet-numbers{
    border: 1px solid #b0c0d5;
    width: 25px;
    height: 25px;
    transform:rotate(45deg);
    margin-left: 20px;
    margin-top: 38px;
}
.grid-container-left-side :first-child{
    grid-column: 2/ span 1;
    grid-row: 1/ span 2;
}
.item2{
    grid-column: 2/ span 1;
    grid-row: 3/ span 2 ;
}
.grid-container-left-side :last-child{
    grid-column: 2/ span 1;
    grid-row: 5/ span 2;
}

.table-center{
    position: absolute;
    height: 783px;
    width: 265px;
    left: 161px;
}
.grid-container-numbers{
    display: grid;
    grid-template-columns: 87px 87px  87px;
    grid-template-rows: 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px; 
    
}
.grid-container-numbers :first-child{
    grid-column: 1/ span 3;
}
.grid-container-numbers > div{
    border: 1px solid rgba(255, 255, 255, 0.623);
    border-collapse: collapse;
    font-family: "CrystalBetUni";
    font-size: 25.6px;
    line-height: 56px;
    text-align: center;
    color: white;
}
.relative{
    position: relative;
}
.black{
    background-color: #1a1a1a;
}
.bg-black{
    background-color: black;
}
.green{
    background-color: #21ba3e;
    text-align: center;
    line-height: 56px;
}
.red{
    background-color: #e92112;
}
.table-right-side{
    position: absolute;
    height: 783px;
    width: 21.7%;
    background: #112a4c;
    right: 9px;
    border-radius: 5px;

}
.special-buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content:space-evenly;
    height: 100%;
    width: 100%;
}
.special-buttons  li.border{
    height: 74px;
    width: 96px;
    border: 2px solid rgb(77, 105, 148);
    border-radius: 3px;
    text-align: center;
    line-height: 54px;
}
.special-buttons  li.border > .special-button{
    line-height:10px;
    font-family: "CrystalBetUniBold";
    font-size: 17.6px;
    color: #4a6590;
} 
.button-chip{
    background-image: url(/Content/Images/0.1GEL.png);
    width: 96px;
    height: 74px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 74px;
    list-style: none;
    margin-left: 20px;
    z-index: 1;
}
.button-chip>span{
    font-family: "CrystalBetUniBold";
    text-align: center;
    margin-left: -23%;
    font-size: 20.78px;
    color: #0675d0;  
}
.chip{
    width: 93px;
    height: 93px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 74px;
    list-style: none;
    margin-left: 45px;
    margin-top: 15px;
    line-height: 93px;
}
.chip>span{
    font-family: "CrystalBetUniBold";
    text-align: center;
    margin-left: -6%;
    font-size: 20.78px;
   
}
.show-other-chips{
    width: 175px;
    height: 675px;
    padding-top: 23px;
    border-radius: 6px;
    background-image: -moz-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -webkit-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -ms-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    box-shadow: 0px 2px 29px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 250px;
    top: 200px;
      
}
.more-chips{
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 576px;
    height: 1024px;
}
.ten-cent{
    color: #0675d0;  
}
.half-gel{
    color: #68a400;
}
.one-gel{
    color: #c51816;
}
.ten-gel{
    color: #a17f19;
}
.fifty-gel{
    color: #7469ca;
}
.houndreed-gel{
    color: #704a9b;
}
.background-racetrack{
    background-image: -moz-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -webkit-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -ms-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
}

.close-button{
    background: url(/Content/Images/closesmall.png)no-repeat ;
    background-position:left 50% top 15px;
    background-color: rgb(253, 224, 83);
    border-radius: 3px;

}
.close-text{
    margin-top: 26px;
    color: #372e04;
    font-size: 17.6px;
    font-family:"CrystalBetUniMedium";
}

  
.racetrack{
    position: absolute;
    margin: 0 auto;
    top: 138px;
    left: 88px;
}
.neigbhours{
    display: flex;
    width: 378px;
    height: 85px;
    margin-left: -54px;
    margin-top: 25px;
    justify-content: space-between;
    text-align: center;
    /* line-height: 85px; */
    font-family: "CrystalBetUniBold";
}
.neigbhours>aside{
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 84px;
    font-size: 54px;
    line-height: 84px;
}
.neigbhours>div{
    width: 178px;
    height: 84px;
    color: white;
    font-size: 60px;
    
}
.neigbhours>div>p{
    font-size: 23px;
}
.footer{
    position: absolute;
    width: 100%;
    height: 83px;
    bottom: 8px;
}
.jackpot-video-numbersHistory{
    display: flex;
    width: 559px;
    height: 80px;
    justify-content: space-between;
    margin-left: 10px;
}
.jackpot{
    width: 160px;
    height: 80px;
    background-color: #102749;
    border-radius: 3px;
    text-align: center;
    /* line-height: 80px; */
}
.user-jackpot{
    font-size: 24px;
    font-family: "CrystalBetUniBold";
    line-height: 45px;
}
.jackpot-win{
    font-size: 32px;
    font-family: "CrystalBetUniBold";
    line-height: 20px;
}
.video{
    width: 80px;
    height: 80px;
    background-color: #102749;
    border-radius: 3px;
    text-align: center;
}
.video-logo{
    margin-top: 20px;
    display: block;
}
.video-description{
    margin-top: 10px;
    color: white;
    font-size: 17.6px;
    font-family: "CrystalBetUni";
    
}
.numbers-history{
    width: 303px;
    height: 80px;
    background-color: #102749;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}
.last-numbers-history{
    display: flex;
    text-align: center;
    align-items: center;
    width: 272px;
    justify-content: space-between;
}
.last-numbers{
    width: 45px;
    height: 56px;
    border-radius:3px;
    color: white;
    font-size: 25.6px;
    line-height: 56px;
    font-family: "CrystalBetUni";
}
.last-houndreed{
    font-size: 22.4px;
    color: white;
    background-color: #0a182d;
    width: 60px;
    height: 56px;
    line-height: 56px;
    font-family: "CrystalBetUniBold";
}
.none{
    display: none;
}
.div-for-favorites,
.div-for-racetrack,
.div-for-stats{
    width: 576px;
    height: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
}
.description-favorites{
    display: flex;
    width: 348px;
    justify-content: space-between;
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 19.14px;
}
.delete-edit-logos{
    line-height: 49px;
}
.description-favorites-tier{
    border-radius: 3px;
    /* background-color: rgb(0, 0, 0); */
    color: #fde053;
    line-height: 49px;
    font-family: "CrystalBetUniMedium";
    width: 176px;
    height: 35px;
    line-height: 35px;
    margin-top: 8px;  
}

.description-favorites-bet{
    color: white;
    line-height: 49px;
    font-family: "CrystalBetUniMedium";
}

.favorites-grid-container{
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px ;
    grid-template-rows: 35px 35px 35px;    
    position: relative;
    left: 21px;
    top: 78px;
}
.favorites-other-bets{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 25px 25px;
    position: relative;
    left: 46px;
    top: 78px;
}
.edit-logo{
   margin-right: 25px;
}
.favorites-other-bets :first-child{
    grid-column: 1/ span 2;
}
.item-2{
    grid-column: 3/ span 2;
    grid-row: 1/ span 1;
}
.favorites-other-bets :last-child{
    grid-column: 5/ span 2;
    grid-row: 1/ span 1;

}
.favorites-grid-container :first-child{
    grid-row: 1/ span 3;

}
.favorites-grid-container > li,
.favorites-other-bets > li {
    border: 1px solid white;
    list-style: none
}

.stats-content{
    width: 400px;
    height: 798px;
    position: absolute;
    left: 0;
    top: 122px;
}
.stats-circle{
    position: absolute;
    width: 258px;
    height: 258px;
    border-radius: 50%;
    background-color: red;
    top: 48px;
    left:90px;
}
.stats-numbers{
    position: absolute;
    width: 304px;
    height: 100px;
    background-color: blueviolet;
    left: 69px;
    
}
.history-board{
    width: 576px;
    height: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    
}
.table-right-side-board{
    position: absolute;
    height: 783px;
    width: 21.7%;
    right: 15px;
    border-radius: 5px;

}
.table-right-side-board-header{
    height: 623px;
    width: 100%;
    background: #051428;
    border-radius: 5px;
    
}
.table-right-side-board-header > li:first-child{
   width: 100%;
   height: 150px;
   font-size: 23px;
   background-color: black;
   color: white;
   font-family: "CrystalBetUniMedium";
   text-align: center;
   position: absolute;
   top: 20px;
}
.table-right-side-board-header>li>aside{
    width: 45px;
    height: 52px;
    background-color: red;
    text-align: center;
    line-height: 52px;
    border-radius: 3px;
    margin-left: 37px;
    margin-top: 18px;
}
.table-right-side-board-header>li{
    list-style: none;   
    display: block;
}
.table-right-side-board-header>li>p{
    color:#fde053;
    margin-top: 10px;
}
.table-right-side-board-header>li.last-history-description{
    position: absolute;
    color: white;
    font-size: 21px;
    font-family: "CrystalBetUniMedium";
    text-align: center;
    width: 100%;
}
.game-id-history{
    top: 185px;
;
}
.game-balance-history{
    top: 305px;
}
.game-bet-history{
    top: 419px;
}
.game-win-history{
    top: 539px;
}
.history-on-board{
    position: absolute;
    top: 122px;
    width: 576px;
    height: 912px;
    background-color: #0b274f;
    background-image: -moz-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -webkit-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    background-image: -ms-linear-gradient( 120deg, rgb(5,25,53) 0%, rgb(14,45,91) 100%);
    z-index: 3;
}
.history-on-board-header{
    position: absolute;
    width: 100%;
    height: 112px;
    top: 0;
    background-color: #071831;
    text-align: center;
    z-index: 3;
   
    
}
.board-history-button{
 position: absolute;
 bottom: 14px;
 left: 398px;
}
.close-board-history{
    background: url(/Content/Images/close.png)no-repeat;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 34px;
    top: 42px;
}
.rebet-board{
    background-color: #24aa00;
    border-radius: 5px; 
    width: 100%;
    margin-top: 18px;
    height: 144px;
    text-align: center;
    position: relative;
}
.rebet-board > img{
    position: absolute;
    left: 44px;
    top: 40px;
}
.rebet-board > p {
    position: absolute;
    font-size: 23px;
    color: white;
    font-family: "CrystalBetUniMedium";
    top: 86px;
    left: 26px;
   
}
.history-board-description{
    position: absolute;
    left:33px;
    top:27px;
    color:#fde053;
    font-size: 25.6px;
    font-family: "CrystalBetUniBold";
    width: 145px; 
    border-bottom: 10px solid #bfae4b ;
    height: 74px;
    line-height: 50px;

}
.hot{
    top: 325px;
}
.cold{
    top: 452px;
}
.stats-other{
    position: absolute;
    width: 304px;
    height: 184px;
    background-color: brown;
    top: 583px; 
    left: 69px;
}
.favorites-content{
    width: 438px;
    height: 781px;
    overflow-y: scroll;
    position: relative;
    left: 0;
    top: 138px;
    overflow-x: hidden;
}

.favorites-content>div{
    width: 382px;
    height: 239px;
    margin-left: 17px;
    margin-top: 18px;
    border-radius: 3px;
    background-color: #051224;
}
.favorites-content>div:first-child{
    margin-top: 0;
}
.stats{
    background-image: url(../Images/stats.png); 
    background-repeat: no-repeat;
    background-position: center 12px; 
    height: 74px;
    width: 96px;
    border: 2px solid rgb(77, 105, 148);
    border-radius: 3px;
    text-align: center;
    line-height: 54px;
    z-index: 1;
}

.more-chips :after{
    right: -22px;
    content: '';
    position: absolute;
    transform: rotate(-90deg);
    top: 500px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #082752;
 }
.stats:after{
    content: 'stats';
    text-transform: uppercase;
    position: relative;  
    top: 33px;
    font-family: "CrystalBetUniBold";
    font-size: 17.6px;
    color: #4a6590;
}
.favorites{
    background-image: url(../Images/favorites.png); 
    background-repeat: no-repeat;
    background-position: center 12px; 
    height: 74px;
    width: 96px;
    border: 2px solid rgb(77, 105, 148);
    border-radius: 3px;
    text-align: center;
    line-height: 54px;
    z-index: 1;
}
.favorites:after {
    content: 'favorites';
    text-transform: uppercase;
    position: relative;  
    top: 33px;
    font-family: "CrystalBetUniBold";
    font-size: 17.6px;
    color: #4a6590;
}
.r-track {
    background-image: url(../Images/r-track.png); 
    background-repeat: no-repeat;
    background-position: center 12px; 
    height: 74px;
    width: 96px;
    border: 2px solid rgb(77, 105, 148);
    border-radius: 3px;
    text-align: center;
    line-height: 54px;
    z-index: 1;
}

.r-track:after {
    content: 'r_track';
    text-transform: uppercase;
    position: relative;  
    top: 33px;
    font-family: "CrystalBetUniBold";
    font-size: 17.6px;
    color: #4a6590;
}
.r-track.active,
.favorites.active,
.stats.active{
    background-color: #fde053;
    border: none;
    position: relative;
    background-image: url(../Images/closesmall.png);
    background-repeat: no-repeat;
    background-position: center 14px;
    
}
.r-track.active:after,
.favorites.active:after,
.stats.active:after{
    content: 'close';
    position: absolute;
    bottom: 12px;
    left: 20px;   
    font-size: 17.6px; 
    color: #372e04;
    font-family: "CrystalBetUniMedium";
}